<% @applies.each do |apply| %>
  <h4>Name:<%= apply.name %></h4>
 
  <h4>Phone Number:<%= apply.phonenumber%></h4>
  <h4>Email:<%= apply.email%></h4>
  <h4>Resume:<%= link_to "Download", rails_blob_path(apply.resume, disposition: "attachment") %></h4>
  <%= link_to 'View', job_apply_path(@job, apply), class: 'button is-small is-link is-outlined' %>

<% end %>
