
<%= link_to 'Accepted Jobs', accepted_path, class: 'button is-small is-link is-outlined' %></li>
<%= link_to 'Rejected Jobs', rejected_path, class: 'button is-small is-link is-outlined' %></li>

<h1>applied job</h1>

<% @job.applies.each do |apply| %>
  <h3><%= apply.name %></h3>
  <%# <p><%= apply.address</p> %>
  <h3><%= apply.phonenumber%></h3>
  <h3><%= apply.email%></h3>

  <%= link_to apply.resume, rails_blob_path(apply.resume, disposition: "attachment") %>

  <%= link_to 'View', job_apply_path(@job, apply), class: 'button is-small is-link is-outlined' %>



<% end %>
