<div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-home-tab" role="tablist" aria-orientation="vertical">
  <%= link_to jobs_path, class: "nav-link mb-3 p-3 shadow active", id: "v-pills-home-tab", role: "tab" do %>
    <i class="fa fa-user-circle-o mr-2"></i>
    <span class="font-weight-bold small text-uppercase">All</span>
  <% end %>
  <%= link_to jobs_path(job_type: "Full-time"), class: "job-nav nav-link mb-3 p-3 shadow", id: "v-pills-home-tab", role: "tab", "aria-controls"=>"v-pills-profile", "aria-selected"=>"true" do %>
    <i class="fa fa-user-circle-o mr-2"></i>
    <span class="font-weight-bold small text-uppercase">Full Time </span>
  <% end %>
  <%# <a class="nav-link mb-3 p-3 shadow" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"> %>
  <%= link_to jobs_path(job_type: "Part-time"), class: "nav-link mb-3 p-3 shadow", id: "v-pills-home-tab", role: "tab" do %>
    <i class="fa fa-calendar-minus-o mr-2"></i>
    <span class="font-weight-bold small text-uppercase">Part Time</span></a>
  <% end %>

  <%# <a class="nav-link mb-3 p-3 shadow" id="v-pills-messages-tab" data-toggle="pill" href="<%= jobs_path(job_type: "Freelance") %><%# " role="tab" aria-controls="v-pills-messages" aria-selected="false"> %>
  <%= link_to jobs_path(job_type: "Freelance"), class: "nav-link mb-3 p-3 shadow", id: "v-pills-home-tab", role: "tab" do %>
    <i class="fa fa-star mr-2"></i>
    <span class="font-weight-bold small text-uppercase">Freelance</span></a>
  <% end %>

  <%# <a class="nav-link mb-3 p-3 shadow" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"> %>
  <%= link_to jobs_path(job_type: "Contract"), class: "nav-link mb-3 p-3 shadow", id: "v-pills-home-tab", role: "tab" do %>
    <i class="fa fa-check mr-2"></i>
    <span class="font-weight-bold small text-uppercase">Contract</span></a>
  <% end %>
</div>
