  <h3><%= @job_application.name %></h3>
  <h3><%= @job_application.phonenumber%></h3>
  <h3><%= @job_application.email%></h3>

  <%= link_to 'reject', reject_path, method: :post, data: { confirm: 'Are you sure you want reject?' }, class: 'button is-small is-link is-outlined' %></li>
  <%= link_to 'accept', accept_path, method: :post, class: 'button is-small is-link is-outlined' %></li>
